* {
    margin: 0;
    padding: 0;
}

.navbar_landing_page {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: linear-gradient(rgba(63, 123, 179, 0.7), rgba(202, 84, 68, 0.4)), url('../Coder-Ladies/Call\ me\ Fox.jpg');*/
    background-color: rgb(255, 87, 87);
    background-position: center;
    position: relative;
}

.navbar_landing_page .nav_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links ul li {
    display: inline-block;
    padding: 30px;
}

.nav_links ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.text_box {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  /* left: 50%; */
}