* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nav_headline_page {
    margin: 10px 70px 10px 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.IME_Image {
    height: clamp(30px, 5.859375vh, 60px);
}

.nav_link ul {
    display: flex;
}

.nav_link ul li {
    padding: 0px 10px 0px 10px;
    list-style: none;
}

.nav_link ul li a {
    font-weight: bolder;
    color: #000000;
    text-decoration: none;
}

.text_1:hover {
    color: #cc0000;
}

.text_2:hover {
    color: #cc0000;
}

.text_3:hover {
    color: #cc0000;
}

.fa-solid {
    font-size: 13px;
    padding-left: 10px;
}

.button {
    width: 160px;
    height: 56px;
    cursor: pointer;
    border-color: #cc0000;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
}

.button_2 {
    width: 160px;
    height: 56px;
    cursor: pointer;
    color: #cc0000;
    border-radius: 0.5rem;
    background-color: #cc0000;
}

.button_text {
    color: #cc0000;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: bolder;
    text-decoration: none;
}

.button_text_2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.button_text:hover {
    color: #ffffff;
}

.button:hover {
    background-color: #cc0000;
}

.button_text_2:hover {
    color: #ffffff;
}

.button {
    margin: 0px 5px 0px 20px;
}

.button_2 {
    margin: 0px 20px 0px 5px;
}