* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold; color: rgb(104, 24, 0);
}

#gallery_pic {
    float: left;
    padding: 10px;
    width: 20%;
    height: 300px;
}
.bo_ld {
    font-size: small;
    color: rgb(0, 72, 136);
    font-weight: bold;
    text-align: center;
}